<div class="content-wrapper" style="min-height: 1170px;"><div style="padding: 20px 30px; background: rgb(243, 156, 18); z-index: 999999; font-size: 16px; font-weight: 600; display: none;"><a class="pull-right" href="#" data-toggle="tooltip" data-placement="left" title="Never show me this again!" style="color: rgb(255, 255, 255); font-size: 20px;">×</a><a href="https://themequarry.com" style="color: rgba(255, 255, 255, 0.9); display: inline-block; margin-right: 10px; text-decoration: none;">Ready to sell your theme? Submit your theme to our new marketplace now and let over 200k visitors see it!</a><a class="btn btn-default btn-sm" href="https://themequarry.com" style="margin-top: -5px; border: 0px; box-shadow: none; color: rgb(243, 156, 18); font-weight: 600; background: rgb(255, 255, 255);">Let's Do It!</a></div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">My Account</a></li>
        <li class="active">My profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">

              <h3 class="profile-username text-center"><%=current_user.first_name %> <%=current_user.last_name %></h3>

              <p class="text-muted text-center"><%=current_user.user_role.role.role_name%></p>
                   
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p><%=current_user.biography%></p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#settings" data-toggle="tab" aria-expanded="false">Edit Profile</a></li>
            </ul>
            <div class="tab-content">
              
             
              <!-- /.tab-pane -->

              <div class="tab-pane active" id="settings">
                <form action='/user/editprofile' id="editprofile" class="form-horizontal" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="first_name" class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-10">
                      <input name="user[first_name]"  type="text" class="form-control" id="first_name"  placeholder="First Name" value="<%=current_user.first_name%>">
                    </div>
                  </div> 
                  <div class="form-group">
                    <label for="last_name" class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="last_name" name="user[last_name]" placeholder="Last Name" value="<%=current_user.last_name%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">UserName</label>

                    <div class="col-sm-10">
                      <input type="text" disabled class="form-control" id="username" name="user[username]" value="<%=current_user.username%>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" disabled class="form-control" id="email" name='user[email]' value="<%=current_user.email%>">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="biography" class="col-sm-2 control-label">About Me</label>

                    <div class="col-sm-10">
                      <textarea class="textarea"  style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" id="biography" name='user[biography]' placeholder="About Me"><%=current_user.biography%></textarea>
                   </div>
                  </div>
                 

                 

                 

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button id="Submit" name="Submit" type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    
</div></section>
    <!-- /.content -->
  </div>