  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Courses
        <small>Preview page</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Courses</li>
      </ol>
    </section>
    
    

    <!-- Main content -->
    <section class="content">


      <h2 class="page-header">Course</h2>


      <div class="row">
      <% i = 0 %>
      <% @courses.each do |course|%>
        <%i  = i+1 %>
            <div class="col-md-3">
          <!-- Box Comment -->
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="/backend/dist/img/user1-128x128.jpg" alt="User Image">
                <span class="username"><a href="#"><%= course.instructor.first_name %>  &nbsp; <%= course.instructor.last_name %> </a></span>
                <span class="description"><%= course.course_category.category_name %></span>
              </div>
              <!-- /.user-block -->
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
           <span class="box-title"><%= course.name%>
            <%= course.icon%></span>
            <a href="/user/courses/view/<%=course.id%>">  <img class="img-responsive pad" src="/backend/dist/img/photo2.png" alt="Photo">
 </a> 
              <div class="pad" style="height:70px;"><p> <%= course.description %></p></div>
              <% ex = 0 %>
              <% @user_enrolled.each do |enroll| %>
            
              <% if enroll.course_id == course.id %>
              <% ex = enroll.course_id %>
              <% end %>
              <% end %>
              <% if ex==course.id %>
               <a href="/user/courses/view/<%=course.id%>" class="btn btn-success pull-left">
                Enrolled
               </a>
               <% else %>
              <a href="/user/courses/<%=course.id%>/enroll" class="btn btn-warning pull-left">
                Sign Up
               </a>
               <% end %>
              <span class="pull-right text-muted"><%=course_difficulty(course.level) %> </span>
            </div>
            <!-- /.box-body -->
           
           
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <% if i==4  %>
        <% i = 0  %>
        </div><div class="row">
        <% end %>
        <%end%>
        
       
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->